<%- include('../partials/header.ejs') %>

<div class="form-div content">
  New Course
  <form action="/courses" method="post">
    <label for="title">Course Name</label>
    <input type="text" id="title" name="title" max="60" required />
    <div class="title error"></div>
    <label for="subject">Subject</label>
    <select id="subject" name="subject" required>
      <option value=""></option>
      <% subjects.forEach(subject=> { %>
      <option value="<%= subject %>"><%= subject %></option>
      <% }) %>
    </select>
    <div class="subject error"></div>
    <label for="credits">Credits</label>
    <input type="number" id="credits" name="credits" min="1" required />
    <div class="credits error"></div>
    <label for="description">Description</label>
    <textarea id="description" name="description" required></textarea>
    <div class="description error"></div>
    <button>Submit</button>
  </form>
</div>

<%- include('../partials/footer.ejs') %>

<!-- <script>
  const form = document.querySelector("form");
  const titleError = document.querySelector(".title.error");
  const subjectError = document.querySelector(".subject.error");
  const creditsError = document.querySelector(".credits.error");
  const descriptionError = document.querySelector(".description.error");

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    // reset errors
    titleError.textContent = "";
    subjectError.textContent = "";
    creditsError.textContent = "";
    descriptionError.textContent = "";

    // get values
    const author = '<%= user._id %>';
    const title = form.title.value;
    const credits = form.credits.value;
    const subject = form.subject.value;
    const description = form.description.value;

    try {
      const res = await fetch("/login", {
        method: "POST",
        body: JSON.stringify({ author, title, credits, subject, description }),
        headers: { "Content-Type": "application/json" },
      });
      const data = await res.json();
      console.log(data);
      if (data.errors) {
        titleError.textContent = data.errors.title;
        subjectError.textContent = data.errors.subject;
        creditsError.textContent = data.errors.credits;
        descriptionError.textContent = data.errors.desc;
      }
      if (data.user) {
        location.assign("/");
      }
    } catch (err) {
      console.log(err);
    }
  });
</script> -->